span {
    display: block;
}

h1 {
    text-align: center;
}

.clock {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    margin: 20px auto;
    display: table;
    position: relative;
    border-radius: 50%;
}

.hand {
    display: block;
    width: 50%;
    height: 50%;
    /*overflow: hidden;*/
}

.hand-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.tik {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    font-weight: bold;
}

.divider {
    position: absolute;
    display: block;
}

.divider.top {
    border-bottom: 1px solid black;
    width: 100%;
    height: 50%;
}

.divider.bottom {
    border-right: 1px solid black;
    width: 50%;
    height: 100%;
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(1deg);
}

.mini-numbers {
    text-align: right;
    transform-origin: right bottom;
    transform-style: preserve-3D;
    overflow: visible;
    position: absolute;
}

.bold {
    font-weight: bold;
}

.middle-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 47.5%;
    left: 47.5%;
}

.number {
    transform-origin: right bottom;
}

.number-rotate1 {
    position: absolute;
    transform: rotate(-30deg);
    right: -5px;
    top: -2px;
}

.number-rotate2 {
    position: absolute;
    transform: rotate(-60deg);
    right: -5px;
    top: -7px;
}

.number-rotate3 {
    position: absolute;
    transform: rotate(-90deg);
    right: -7px;
    top: -10px;
}

.number-rotate4 {
    position: absolute;
    transform: rotate(-120deg);
    right: -4px;
    top: -10px;
}

.number-rotate5 {
    position: absolute;
    transform: rotate(-151deg);
    right: 3px;
    top: -14px;
}

.number-rotate6 {
    position: absolute;
    transform: rotate(-180deg);
    right: 7px;
    top: -14px;
}

.number-rotate7 {
    position: absolute;
    transform: rotate(-215deg);
    right: 11px;
    top: -10px;
}

.number-rotate8 {
    position: absolute;
    transform: rotate(116deg);
    right: 13px;
    top: -5px;
}

.number-rotate9 {
    position: absolute;
    transform: rotate(-275deg);
    right: 9px;
    top: -1px;
}

.number-rotate10 {
    position: absolute;
    transform: rotate(-300deg);
    right: 5px;
    top: 5px;
}

.number-rotate11 {
    position: absolute;
    transform: rotate(-335deg);
    right: -3px;
    top: 2px;
}

.number-rotate12 {
    position: absolute;
    right: -5px;
    top: 0px;
}

.num-container,
.hand-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.hand-inner {
    background-color: black;
    height: 100%;
    position: absolute;
    /*transition: transform 1s linear;*/
    transform-origin: bottom center;
    transform-style: preserve-3D;
    bottom: 50%;
    left:
}

.hr {
    width: 7px;
    right: 49%;
    height: 30%;
}

.min {
    width: 3px;
    right: 49.5%;
    height: 40%;
}

.sec {
    width: 1px;
    right: 49.7%;
    height: 48%;
}

.clock-hands {
    width: 100%;
    height: 100%;
}

.smooth {
    transition: transform 1s linear;
}

.date {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    top: 70%;
    left: 45%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.brand {
    border: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 15%;
}
.img-responsive{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.logo{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13%;
    left: 47%;
}
